/* 노말라이즈 */

body,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* 라이브러리 */

.con {
    margin: 0 auto;
}

.margin-0-auto {
    margin: 0 auto;
}

.cell {
    float: left;
    box-sizing: border-box;
}

.cell-right {
    float: right;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.absolute-top {
    position: absolute;
    top: 0;
}

.absolute-left {
    position: absolute;
    left: 0;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.absolute-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.absolute-middle {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
}

.absolute-center.absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.img-box>img {
    width: 100%;
    display: block;
}

.line-height-0 {
    line-height: 0;
}

.line-height-0>* {
    line-height: normal;
}

.clear-both {
    clear: both;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

/* 커스텀 */

.con {
    max-width: 1240px;
}

/* 반응형 */

@media (max-width : 1200px) {
    .none-1200px {
        display: none;
    }
}

@media (max-width : 992px) {
    .none-992px {
        display: none;
    }
}

.visible-992px {
    display: none;
}

@media (max-width:992px) {
    .visible-992px {
        display: block;
    }
}

@media (max-width : 768px) {
    .none-768px {
        display: none;
    }
}

.visible-768px {
    display: none;
}

@media (max-width:768px) {
    .visible-768px {
        display: block;
    }
}

@media (max-width : 380px) {
    .none-380px {
        display: none;
    }
}

/* 바디 */

body {
    width: 100%;
    height: 100%;
    background: url(img/bg-3.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Noto Sans KR', sans-serif;
}

/* 헤더 */

.header {
    background-color: rgba(255, 255, 255.5);
    padding-top: 10px;
    padding-bottom: 50px;
}

/* 헤더-탑바 */

.header>.inner>.top-bar>div {
    margin-top: 10px;
}

.header>.inner>.top-bar>.search {
    right: 20px;
}

.header>.inner>.top-bar>.link-bar {
    left: 20px;
    font-size: .83rem;
}

.header>.inner>.top-bar>.link-bar>ul>li {
    margin-left: 7px;
}

/* 헤더-메뉴바 */

.header>.inner>.menu-bar {
    text-align: center;
}

.header>.inner>.menu-bar>ul {
    display: inline-block;
    position: relative;
}

.header>.inner>.menu-bar>ul>li {
    display: inline-block;
    position: relative;
    padding: 50px 20px 0 20px;
    font-size: 1.3rem;
    letter-spacing: -0.1rem;
}

.header>.inner>.menu-bar>ul>li:nth-of-type(4) {
    margin-right: 190px;
}

.header>.inner>.menu-bar>ul>li>a {
    display: block;
    line-height: 3rem;
}

.header>.inner>.menu-bar>ul>li:hover>a {
    font-weight: bold;
}

.header>.inner>.menu-bar>ul>li>a::after {
    width: 0%;
    height: 3px;
    background-color: #555;
    content: "";
    clear: both;
    display: block;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: .3s;
    position: absolute;
}


.header>.inner>.menu-bar>ul>li:hover>a::after {
    width: 100%;
}

/* 헤더-메뉴바-서브메뉴 */

.header>.inner>.menu-bar>ul>li>ul {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 100;
}

@media (max-width:1200px) and (min-width:992px) {

    .header>.inner>.menu-bar>ul>li:nth-of-type(1)>ul,
    .header>.inner>.menu-bar>ul>li:nth-of-type(2)>ul,
    .header>.inner>.menu-bar>ul>li:nth-of-type(3)>ul,
    .header>.inner>.menu-bar>ul>li:nth-of-type(4)>ul {
        left: 0;
        transform: translateX(0%);
    }

    .header>.inner>.menu-bar>ul>li:nth-of-type(5)>ul,
    .header>.inner>.menu-bar>ul>li:nth-of-type(6)>ul,
    .header>.inner>.menu-bar>ul>li:nth-of-type(7)>ul {
        right: 0;
        left: auto;
        transform: translateX(0%);
    }
}

.header>.inner>.menu-bar>ul>li>ul>li {
    display: inline;
    float: none;
    font-size: 1.1rem;
    letter-spacing: 0rem;
    margin: 0 5px;
    z-index: 160;
}

.header>.inner>.menu-bar>ul>li>ul>li:hover {
    font-weight: bold;
}

.header>.inner>.menu-bar>ul>li:hover>ul {
    display: block;
}

/* 헤더-로고 */

.header>.inner>.logo-box {
    width: 150px;
    display: block;
    top: 20%;
}

.header>.inner>.logo-box>.logo>img {
    transition: 1s;
}

.header>.inner>.logo-box>.logo>img:hover {
    transform: scale(1.35);
}

/* 헤더-메뉴배경 */

.header>.inner>.menu-bg {
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    z-index: 150;
    display: none;
}

.header>.inner>.menu-bg.on {
    display: block;
}

/* 스몰헤더 */

.small-header {
    background-color: white;
    height: 100px;
}

.small-header>.inner {
    height: 100%;
}

.small-header>.inner>.search {
    position: absolute;
    top: 7px;
    right: 14px;
    display: block;
    font-size: 1.3rem;
}

.small-header>.inner>.logo-box>a {
    width: 120px;
    display: block;
}

/* 스몰헤더-서브메뉴 */

.small-header>.sub-menu>.ham-btn {
    position: absolute;
    top: 7px;
    left: 14px;
    display: block;
    font-size: 1.5rem;
}

.small-header>.sub-menu>.menu-box {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: 200;
    position: fixed;
    left: -100%;
    transition: .3s;
    overflow-y: auto;
}

html.on .small-header>.sub-menu>.menu-box {
    left: 0;
}

html.on body {
    overflow: hidden;
}

.small-header>.sub-menu>.menu-box>.inner {
    width: 45%;
    height: 100%;
    background-color: white;
}

.small-header>.sub-menu>.menu-box>.inner>.top-box {
    margin-bottom: 15%;
    padding: 10px;
}

.small-header>.sub-menu>.menu-box>.inner>.top-box>.logo {
    width: 60%;
    display: block;
}

.small-header>.sub-menu>.menu-box>.inner>.top-box>.close {
    font-size: 1.5rem;
}

.small-header>.sub-menu>.menu-box>.inner>ul>li {
    position: relative;
}

.small-header>.sub-menu>.menu-box>.inner>ul>li>a {
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
}

.small-header>.sub-menu>.menu-box>.inner>ul>li>a:not(:only-child)::after {
    content: "[+]";
    clear: both;
    display: inline-block;
    padding-left: 5px;
    font-size: 1rem;
}

.small-header>.sub-menu>.menu-box>.inner>ul>li.active>a:not(:only-child)::after {
    content: "[-]";
}

.small-header>.sub-menu>.menu-box>.inner>ul>li.active>ul {
    display: block;
}

.small-header>.sub-menu>.menu-box>.inner>ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    white-space: nowrap;
    background-color: white;
    text-align: center;
    width: 120px;
}

.small-header>.sub-menu>.menu-box>.inner>ul ul>li>a {
    display: block;
    padding: 15px;
    font-size: 1.05rem;
    line-height: 1.2rem;
}


/* 슬라이더-바 */

.slider-bar {
    width: 100%;
    height: 700px;
}

.small-slider-bar {
    width: 100%;
    height: 350px;
}

@media (min-width:1241px) {
    .slider-bar {
        height: 550px;
    }
}

@media (max-width:1240px) and (min-width:1201px) {
    .slider-bar {
        height: 500px;
    }
}

@media (max-width:1200px) and (min-width:851px) {
    .slider-bar {
        height: 400px;
    }
}

.slider>div {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.3s;
}

.slider>div.active {
    opacity: 1;
}

.side-btn>div {
    font-size: 60px;
    padding: 20px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.page-btn>div {
    width: 22px;
    height: 22px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 150;
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.page-btn>div.active {
    background-color: rgba(0, 0, 0, 0.5);
}

/* 콘텐츠 */

/* 콘텐츠-배너1 */

.content>.inner>.banner-1 {
    height: 300px;
}

.content>.inner>.banner-1>.cell {
    width: 25%;
    text-align: center;
    position: relative;
    height: 100%;
}

.content>.inner>.banner-1>.cell>.inner {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-position: center;
}

.content>.inner>.banner-1>.cell:nth-of-type(1)>.inner {
    background-image: url(img/banner-1-1.png);
}

.content>.inner>.banner-1>.cell:nth-of-type(2)>.inner {
    background-image: url(img/banner-1-2.png);
}

.content>.inner>.banner-1>.cell:nth-of-type(3)>.inner {
    background-image: url(img/banner-1-3.png);
}

.content>.inner>.banner-1>.cell:nth-of-type(4)>.inner {
    background-image: url(img/banner-1-4.png);
}

.content>.inner>.banner-1>.cell {
    white-space: nowrap;
}

@media (max-width: 992px) and (min-width:381px) {
    .content>.inner>.banner-1>.cell {
        width: 50%;
        height: 80%;
    }

    .content>.inner>.banner-1>.cell>.inner {
        width: 130px;
        height: 130px;
    }

    .content>.inner>.banner-1>.cell>p {
        bottom: -10px;
    }
}

@media (max-width: 380px) {
    .content>.inner>.banner-1>.cell {
        width: 50%;
        height: 60%;
    }

    .content>.inner>.banner-1>.cell>.inner {
        width: 100px;
        height: 100px;
    }

    .content>.inner>.banner-1>.cell>p {
        font-size: 0.8rem;
        bottom: -10px;
    }
}

/* 콘텐츠-신상품 */

.content>.inner>.new-product {
    text-align: center;
}

.content>.inner>.new-product>h1 {
    margin: 70px 0;
}

.content>.inner>.new-product>h1::before {
    content: "";
    clear: both;
    display: inline-block;
    background-color: black;
    width: 38%;
    height: 1.5px;
    margin: 0 30px 7px 0;
}

.content>.inner>.new-product>h1::after {
    content: "";
    clear: both;
    display: inline-block;
    background-color: black;
    width: 38%;
    height: 1.5px;
    margin: 0 0px 7px 30px;
}

@media (max-width : 1200px) {

    .content>.inner>.new-product>h1::before,
    .content>.inner>.new-product>h1::after {
        width: 30%;
    }
}

@media (max-width : 768px) {

    .content>.inner>.new-product>h1::before,
    .content>.inner>.new-product>h1::after {
        width: 0;
    }
}

@media (max-width : 1200px) and (min-width:769px) {
    .content>.inner>.new-product>h1 {
        font-size: 1.3rem;
    }
}

@media (max-width : 768px) {
    .content>.inner>.new-product>h1 {
        font-size: 1rem;
    }
}

.content>.inner>.new-product>.np {
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
}

.content>.inner>.new-product>.np>div {
    width: 50%;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:992px) and (min-width:769px) {
    .content>.inner>.new-product>.np>div {
        height: 300px;
    }

    .content>.inner>.new-product>.np>.text-cell>div {
        font-size: .8rem;
    }
}

@media (max-width:768px) and (min-width:381px) {
    .content>.inner>.new-product>.np>div {
        height: 250px;
    }

    .content>.inner>.new-product>.np>.text-cell>div {
        font-size: .7rem;
    }
}

@media (max-width:380px) {
    .content>.inner>.new-product>.np>div {
        height: 200px;
    }

    .content>.inner>.new-product>.np>.text-cell>div {
        font-size: .65rem;
    }
}


/* 콘텐츠-배너2 */

.content>.inner>.banner-2 {
    margin: 80px 0;
}

.content>.inner>.banner-2>a {
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
    color: #222;
    padding: 5px;
    font-weight: bold;
}

@media (max-width:1200px) {
    .content>.inner>.banner-2>a {
        right: 35px;
    }
}

/* 콘텐츠-스몰배너2 */

.small-banner-2 {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.small-banner-2>img {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.small-banner-2>a {
    right: 7%;
    top: 50%;
    transform: translatey(-50%);
}

/* 콘텐츠-스몰러배너2 */

.smaller-banner-2 {
    text-align: center;
    margin-top: 50px;
    width: 100%;
    height: 130px;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}

.smaller-banner-2>img {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.smaller-banner-2>a {
    right: 6%;
    top: 50%;
    transform: translatey(-50%);
    font-size: .9rem;
}


/* 콘텐츠-베스트상품 */

.content>.inner>.best-product>h1 {
    margin: 70px 0;
    text-align: center;
}

.content>.inner>.best-product>h1::before {
    content: "";
    clear: both;
    display: inline-block;
    background-color: black;
    width: 40%;
    height: 1.5px;
    margin: 0 30px 7px 0;
}

.content>.inner>.best-product>h1::after {
    content: "";
    clear: both;
    display: inline-block;
    background-color: black;
    width: 40%;
    height: 1.5px;
    margin: 0 0px 7px 30px;
}

@media (max-width : 1200px) {

    .content>.inner>.best-product>h1::before,
    .content>.inner>.best-product>h1::after {
        width: 30%;
    }
}

@media (max-width : 768px) {

    .content>.inner>.best-product>h1::before,
    .content>.inner>.best-product>h1::after {
        width: 0;
    }
}

@media (max-width : 1200px) and (min-width:769px) {
    .content>.inner>.best-product>h1 {
        font-size: 1.3rem;
    }
}

@media (max-width : 768px) {
    .content>.inner>.best-product>h1 {
        font-size: 1rem;
    }
}

/* 콘텐츠-베스트상품-공통 */

.content>.inner>.best-product>div>nav>ul {
    width: 200px;
    background-color: rgb(233, 233, 233);
    border-radius: 50px;
    margin: 20px 0 20px 60px;
    cursor: pointer;
}

.content>.inner>.best-product>div>nav>ul:hover {
    background-color: #333;
    color: white;
}

.content>.inner>.best-product>div>nav>ul>li:first-child>img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
}

.content>.inner>.best-product>div>nav>ul>li:last-child {
    text-align: center;
}

@media (max-width:992px) and (min-width:769px) {
    .content>.inner>.best-product>div>nav>ul {
        width: 150px;
        margin: 20px 0 20px 40px;
    }

    .content>.inner>.best-product>div>nav>ul>li:first-child>img {
        width: 60px;
        height: 60px;
    }

    .content>.inner>.best-product>div>nav>ul>li:first-child {
        width: 30%;
    }

    .content>.inner>.best-product>div>nav>ul>li:last-child>h3 {
        font-size: 1rem;
    }
}

@media (max-width:768px) and (min-width:381px) {
    .content>.inner>.best-product>div>nav>ul {
        width: 120px;
        margin: 20px 0 20px 20px;
    }

    .content>.inner>.best-product>div>nav>ul>li:first-child>img {
        width: 50px;
        height: 50px;
    }

    .content>.inner>.best-product>div>nav>ul>li:first-child {
        width: 20%;
    }

    .content>.inner>.best-product>div>nav>ul>li:last-child>h3 {
        font-size: 0.8rem;
    }
}

@media (max-width:380px) {
    .content>.inner>.best-product>div>nav>ul {
        width: 100px;
        margin: 20px 0 20px 20px;
    }

    .content>.inner>.best-product>div>nav>ul>li:first-child>img {
        width: 45px;
        height: 45px;
    }

    .content>.inner>.best-product>div>nav>ul>li:first-child {
        width: 20%;
    }

    .content>.inner>.best-product>div>nav>ul>li:last-child>h3 {
        font-size: 0.8rem;
    }
}

.content>.inner>.best-product>div>div {
    text-align: center;
}

.content>.inner>.best-product>div>div>.img-box {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.content>.inner>.best-product>div>div>.img-box::after {
    content: "";
    clear: both;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.content>.inner>.best-product>div>div:hover>.img-box::after {
    background-color: rgba(0, 0, 0, 0.2);
}

.content>.inner>.best-product>div>div>.img-box>img {
    transition: transform 0.5s;
}

.content>.inner>.best-product>div>div:hover>.img-box>img {
    transform: scale(1.2);
}

.content>.inner>.best-product>div>div>.img-box>a {
    display: none;
    color: white;
    padding: 7px;
    border: white 2px solid;
    z-index: 100;
    white-space: nowrap;
}

.content>.inner>.best-product>div>div:hover>.img-box>a {
    display: block;
}

.content>.inner>.best-product>div>div>p {
    margin-top: -10px;
    margin-bottom: 30px;
}

.content>.inner>.best-product>div>div>p::after {
    content: "원";
    clear: both;
    display: inline;
}

@media (max-width:992px) and (min-width:769px) {
    .content>.inner>.best-product>div>div>h3 {
        font-size: 1rem;
    }

    .content>.inner>.best-product>div>div>p {
        font-size: .9rem;
    }
}

@media (max-width:768px) {
    .content>.inner>.best-product>div>div>h3 {
        font-size: .9rem;
    }

    .content>.inner>.best-product>div>div>p {
        font-size: .8rem;
    }
}

/* 콘텐츠-베스트상품-2글자&3상품 */

.content>.inner>.best-product>div>nav>ul>li:last-child {
    margin-left: 40px;
}

.content>.inner>.best-product>div>div {
    width: 33.3333%;
}

.content>.inner>.best-product>div>div>.img-box {
    width: 70%;
}

@media (max-width:992px) and (min-width:381px) {
    .content>.inner>.best-product>div>div {
        width: 50%;
    }
}

@media (max-width:380px) {
    .content>.inner>.best-product>div>div {
        width: 100%;
    }
}


/* 콘텐츠-베스트상품-어린이 */

.content>.inner>.best-product>.kids>nav>ul>li:last-child {
    margin-left: 35px;
}

/* 콘텐츠-베스트상품-벽지/바닥 */

.content>.inner>.best-product>.wall>nav>ul {
    position: relative;
}

.content>.inner>.best-product>.wall>nav>ul>li:last-child {
    right:3px;
    font-size: .9rem;
    position: absolute;
}

.content>.inner>.best-product>.wall>div {
    width: 25%;
}

.content>.inner>.best-product>.wall>div>.img-box {
    width: 60%;
}

@media (max-width:992px) and (min-width:381px) {
    .content>.inner>.best-product>.wall>div {
        width: 33.333%;
    }

    .content>.inner>.best-product>.wall>nav>ul>li:last-child {
        margin-left: 27px;
    }
}

@media (max-width:380px) {
    .content>.inner>.best-product>.wall>div {
        width: 50%;
    }

    .content>.inner>.best-product>.wall>nav>ul>li:last-child {
        margin-left: 27px;
    }
}

/* 콘텐츠-배너3 */

.content>.inner>.banner-3 {
    overflow: hidden;
    height: 300px;
    width: 100%;
}

.content>.inner>.banner-3>a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.content>.inner>.banner-3>a>img {
    display: inline-block;
    width: 100%;
}

@media (max-width:992px) and (min-width:769px) {
    .content>.inner>.banner-3 {
        height: 250px;
    }

    .content>.inner>.banner-3>a>img {
        width: 120%;
    }
}

@media (max-width:768px) and (min-width:381px) {
    .content>.inner>.banner-3 {
        height: 200px;
    }

    .content>.inner>.banner-3>a>img {
        width: 140%;
    }
}

@media (max-width:380px) {
    .content>.inner>.banner-3 {
        height: 150px;
    }

    .content>.inner>.banner-3>a>img {
        width: 160%;
    }
}

/* 콘텐츠-컨셉 */

.content>.inner>.concept>h1 {
    margin: 70px 0;
    text-align: center;
}

.content>.inner>.concept>h1::before {
    content: "";
    clear: both;
    display: inline-block;
    background-color: black;
    width: 37%;
    height: 1.5px;
    margin: 0 30px 7px 0;
}

.content>.inner>.concept>h1::after {
    content: "";
    clear: both;
    display: inline-block;
    background-color: black;
    width: 37%;
    height: 1.5px;
    margin: 0 0px 7px 30px;
}

@media (max-width : 1200px) {

    .content>.inner>.concept>h1::before,
    .content>.inner>.concept>h1::after {
        width: 30%;
    }
}

@media (max-width : 768px) {

    .content>.inner>.concept>h1::before,
    .content>.inner>.concept>h1::after {
        width: 0;
    }
}

@media (max-width : 1200px) and (min-width:769px) {
    .content>.inner>.concept>h1 {
        font-size: 1.3rem;
    }
}

@media (max-width : 768px) {
    .content>.inner>.concept>h1 {
        font-size: 1rem;
    }
}

.content>.inner>.concept>div {
    width: 50%;
    position: relative;
    text-align: center;
}

.content>.inner>.concept>div:nth-last-of-type(1),
.content>.inner>.concept>div:nth-last-of-type(2) {
    margin-top: 30px;
}

.content>.inner>.concept>div>h3::before {
    content: "";
    clear: both;
    display: inline-block;
    border-top: 10px rgba(0, 0, 0, 0) solid;
    border-right: 10px #222 solid;
    transform: rotate(45deg);
    margin-bottom: 5px;
}

.content>.inner>.concept>div>h3::after {
    content: "";
    clear: both;
    display: inline-block;
    border-top: 10px rgba(0, 0, 0, 0) solid;
    border-right: 10px #222 solid;
    transform: rotate(45deg);
    margin-bottom: 5px;
}

.content>.inner>.concept>div:nth-of-type(1)>h3::before {
    margin-right: 10px;
}

.content>.inner>.concept>div:nth-of-type(1)>h3::after {
    margin-left: 10px;
}

.content>.inner>.concept>div:nth-of-type(2)>h3::before {
    margin-right: 12px;
}

.content>.inner>.concept>div:nth-of-type(2)>h3::after {
    margin-left: 12px;
}

.content>.inner>.concept>div:nth-of-type(3)>h3::before {
    margin-right: 15px;
}

.content>.inner>.concept>div:nth-of-type(3)>h3::after {
    margin-left: 15px;
}

.content>.inner>.concept>div:nth-of-type(4)>h3::before {
    margin-right: 11px;
}

.content>.inner>.concept>div:nth-of-type(4)>h3::after {
    margin-left: 11px;
}

.content>.inner>.concept>div>img {
    width: 90%;
    height: 350px;
    display: inline;
}

@media (max-width:1200px) and (min-width:993px) {
    .content>.inner>.concept>div>h3 {
        font-size: 1rem;
    }

    .content>.inner>.concept>div>h3::before,
    .content>.inner>.concept>div>h3::after {
        border-top: 8px rgba(0, 0, 0, 0) solid;
        border-right: 8px #222 solid;
    }
}

@media (max-width:992px) and (min-width:751px) {
    .content>.inner>.concept>div>h3 {
        font-size: .9rem;
    }

    .content>.inner>.concept>div>h3::before,
    .content>.inner>.concept>div>h3::after {
        border-top: 6px rgba(0, 0, 0, 0) solid;
        border-right: 6px #222 solid;
    }

    .content>.inner>.concept>div>img {
        height: 250px;
    }
}

@media (max-width:750px) and (min-width:381px) {
    .content>.inner>.concept>div>h3 {
        font-size: .8rem;
    }

    .content>.inner>.concept>div>h3::before,
    .content>.inner>.concept>div>h3::after {
        border-top: 5px rgba(0, 0, 0, 0) solid;
        border-right: 5px #222 solid;
    }

    .content>.inner>.concept>div>img {
        height: 200px;
    }
}

@media (max-width:680px) {
    .content>.inner>.concept>div {
        width: 100%;
    }
}

@media (max-width:380px) {
    .content>.inner>.concept>div>h3 {
        font-size: 0.8rem;
        letter-spacing: 0rem;
    }

    .content>.inner>.concept>div>h3::before,
    .content>.inner>.concept>div>h3::after {
        border-top: 0;
        border-right: 0;
    }
}

/* 콘텐츠-컨셉-더보기버튼 */

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 90%;
    cursor: pointer;
    display: inline-block;
}

.btn-three {
    color: rgb(0, 0, 0)0, 0, 0);
    transition: all 0.5s;
    position: relative;
}

.btn-three::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
}

.btn-three:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.btn-three::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(0, 0, 0, 0.5);
    transform: scale(1.2, 1.2);
}

.btn-three:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}

/* 콘텐츠-배너4 */

.content>.inner>.banner-4 {
    margin: 30px;
}

/* 푸터 */

.footer {
    background-color: #fff;
    color: #555;
    padding: 10px;
    text-align: center;
}

.footer>div>ul {
    display: inline-block;
}

.footer>div>ul>li {
    margin: 0 7px;
    letter-spacing: -0.1rem;
}

.footer>.logo-box {
    margin: 30px;
}

.footer>.logo-box>img {
    display: inline-block;
    width: 170px;
}

@media (max-width:992px) {
    .footer>.logo-box>img {
        width: 140px;
    }
}

@media (max-width:768px) {
    .footer {
        margin-top: 20px;
    }
}

/* 탑버튼 */

.top-btn {
    width: 60px;
    height: 60px;
    right: 30px;
    bottom: 60px;
    position: fixed;
    background-color: rgba(209, 209, 209, 0.5);
    z-index: 200;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
}

.top-btn.none {
    display: none;
}

.top-btn>span {
    line-height: 60px;
    color: #777;
}